.albums-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  h1 {
    width: 100%;
    text-align: center;
  }

  .back-button {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  ul {
    width: 50%;
  }

  .title {
    font-weight: 600;
  }
}